<div id="white">
	<div class="container">
    <div class="col-lg-4 col-lg-offset-4 centered">
			<h1>Sent Mail</h1>
		</div>
		<div class="col-lg-10 col-lg-offset-2 centered">
			<br><br>
			<div class="row">
				<b>
					<div class="col-md-2">To:</div>
					<div class="col-md-6">Subject:</div>
					<div class="col-md-2">Date:</div>
				</b>
			</div>
			<% @messages.each do |message| %>
				<% if message.sender == current_user %>
					<div class="row">
						<div class="col-md-2"><%= message.recipient.email %></div>
						<div class="col-md-6"><%= link_to message.subject, message_path(message) %></div>
						<div class="col-md-2"><%= message.created_at %></div>
					</div>
					<% end %>
				<% end %>
			</div>
			<div class="col-lg-4 col-lg-offset-4 centered">
				<%= link_to "Back", inbox_messages_path %>
			</div>
			<br><br>
		</div>
	</div>
</div>