<div class="container">
	<h1>Sent Mail</h1>
	<% @messages.each do |message| %>
		<% if message.sender == current_user %>
			<div class="row">
				<div class="col-md-2"><%= message.recipient.email %></div>
				<div class="col-md-8"><%= link_to message.subject, message_path(message) %></div>
				<div class="col-md-2"><%= message.created_at %></div>
			</div>
		<% end %>
	<% end %>	
	<%= link_to "Back", inbox_messages_path %>
</div>