<div class="container">
	<h1>Available Spaces</h1>
	<%= link_to "New Space", new_space_path %></br>
	<% @spaces.each do |space| %>
		<%= space.name %> | 
		<%= link_to "Show Space", space_path(space) %>
		</br>
	<% end %>
</div>