<div id="white">
  <div class="container">
  	<div class="col-lg-4 col-lg-offset-4 centered">
			<h3>List a New Space</h3>
  	</div>
  	<div class="col-lg-4 col-lg-offset-4">
			<br>
			<%= render 'form' %>
			<br>
			<%= link_to "Back", spaces_path %>
  	</div>
  </div>
	    
	    </div><!-- /container -->
    </div><!-- /white -->
