<div id="white">
  <div class="container">
  	<div class="col-lg-4 col-lg-offset-4 centered">
			<h3>List a New Space</h3>
  	</div>
  	<div class="col-lg-4 col-lg-offset-4">
			<br>
			<%= render 'form' %>
			<br>
			<%= link_to "Back", spaces_path %>
  	</div>
  </div>
	    	<!-- <div class="row mt">
	    		<div class="col-lg-3">
	    			<p class="capitalize">1</p>
	    			<h4>Brief</h4>
	    			<p>Built for all levels of expertise, whether you need simple pages or complex ones, creating something incredible with Marco is an effortless and intuitive process.</p>
	    		</div>
	    		<div class="col-lg-3">
	    			<p class="capitalize">2</p>
	    			<h4>Analysis</h4>
	    			<p>We’ve taken great care to ensure that Marco is fully retina-ready. So it’ll look good on any retina display. We use retina.js to ensure the best view.</p>
	    		</div>
	    		<div class="col-lg-3">
	    			<p class="capitalize">3</p>
	    			<h4>Planning</h4>
	    			<p>Marco fits any device handsomely. We tested our theme in major devices and browsers. Check it out and test it before buy it on responsinator.com.</p>
	    		</div>

	    		<div class="col-lg-3">
	    			<p class="capitalize">4</p>
	    			<h4>Execution</h4>
	    			<p>Good looking animations are an essential part of the new theme design trend. We add animations.css, a cool script to help you enhance your site with style.</p>
	    		</div>
	    	</div><!-- /row --> -->
	    </div><!-- /container -->
    </div><!-- /white -->
