<! ========== HEADERWRAP ==================================================================================================== 
	=============================================================================================================================>
    <div id="headerwrap">
    	<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2 mt">
					<div class = "move-title"><h1 class="animation slideDown">VENÜ</h1><br>

					<h2>FIND A SPACE FOR YOUR PASSION</h2>
					<h6>Connecting individuals with unused spaces</h6><br><br><br>
    				<a href="#about-venu"><p class="mt inline"><button type="button" class="btn btn-cta btn-lg">HOW IT WORKS </button></p></a> 
    				<a href="#discover-events"><p class="mt inline"><button type="button" class="btn btn-cta btn-lg">DISCOVER EVENTS </button></p></a>
    				<a href="#discover-spaces"><p class="mt inline"><button type="button" class="btn btn-cta btn-lg">DISCOVER SPACES </button></p></a>
    				
    				</div>
				</div>
				
			</div><!-- /row -->
    	</div><!-- /container -->
    </div> <!-- /headerwrap -->


<div id="white">
	    <div class="container">
	    	<div class="row mt">
	    		<div class="col-lg-4 col-lg-offset-4 centered" id="about-venu">
	    			<h3>How It Works</h3>
	    			<hr>
	    		</div>
	    	</div>
	    	<div class="row mt">
	    		<div class="col-lg-3">
	    			<p class="capitalize">1</p>
	    			<h4>Brief</h4>
	    			<p>Built for all levels of expertise, whether you need simple pages or complex ones, creating something incredible with Marco is an effortless and intuitive process.</p>
	    		</div>
	    		<div class="col-lg-3">
	    			<p class="capitalize">2</p>
	    			<h4>Analysis</h4>
	    			<p>We’ve taken great care to ensure that Marco is fully retina-ready. So it’ll look good on any retina display. We use retina.js to ensure the best view.</p>
	    		</div>
	    		<div class="col-lg-3">
	    			<p class="capitalize">3</p>
	    			<h4>Planning</h4>
	    			<p>Marco fits any device handsomely. We tested our theme in major devices and browsers. Check it out and test it before buy it on responsinator.com.</p>
	    		</div>    	
	
	    		<div class="col-lg-3">
	    			<p class="capitalize">4</p>
	    			<h4>Execution</h4>
	    			<p>Good looking animations are an essential part of the new theme design trend. We add animations.css, a cool script to help you enhance your site with style.</p>
	    		</div>
	    	</div><!-- /row -->
	    </div><!-- /container -->
    </div><!-- /white -->

	<! ========== DISCOVER EVENTS ==================================================================================================== 
	=============================================================================================================================>    
	<div class="container">	

		<div class="row mt centered ">
			<div class="col-lg-4 col-lg-offset-4" id="discover-events">
				<h3>Popular Events</h3>
				<hr>
			</div>
		</div><!-- /row -->

		<div class="row mt">
			<div class="col-lg-4 col-md-4 col-xs-12 desc">
				<a class="b-link-fade b-animate-go" href="#"><img width="350" src="/img/portfolio/port04.jpg" alt="" />
					<div class="b-wrapper">
					  	<h4 class="b-from-left b-animate b-delay03">Post 1</h4>
					  	<p class="b-from-right b-animate b-delay03">Read More.</p>
					</div>
				</a>
				<p>The Sky Is The Limit</p>
				<p class="lead">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<hr-d>
			</div><!-- col-lg-4 -->
			
			<div class="col-lg-4 col-md-4 col-xs-12 desc">
				<a class="b-link-fade b-animate-go" href="#"><img width="350" src="/img/portfolio/port05.jpg" alt="" />
					<div class="b-wrapper">
					  	<h4 class="b-from-left b-animate b-delay03">Post 2</h4>
					  	<p class="b-from-right b-animate b-delay03">Read More.</p>
					</div>
				</a>
				<p>Another Cool Stuff</p>
				<p class="lead">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<hr-d>
				<p class"time"><i class="fa fa-comment-o"></i> 1 | <i class="fa fa-calendar"></i> 13 Oct.</p>
			</div><!-- col-lg-4 -->
			<div class="col-lg-4 col-md-4 col-xs-12 desc">
				<a class="b-link-fade b-animate-go" href="#"><img width="350" src="/img/portfolio/port05.jpg" alt="" />
					<div class="b-wrapper">
					  	<h4 class="b-from-left b-animate b-delay03">Post 2</h4>
					  	<p class="b-from-right b-animate b-delay03">Read More.</p>
					</div>
				</a>
				<p>Another Cool Stuff</p>
				<p class="lead">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<hr-d>
			</div><!-- col-lg-4 -->
			
			<div class="col-lg-4 col-md-4 col-xs-12 desc">
				<a class="b-link-fade b-animate-go" href="#"><img width="350" src="/img/portfolio/port05.jpg" alt="" />
					<div class="b-wrapper">
					  	<h4 class="b-from-left b-animate b-delay03">Post 2</h4>
					  	<p class="b-from-right b-animate b-delay03">Read More.</p>
					</div>
				</a>
				<p>Another Cool Stuff</p>
				<p class="lead">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<hr-d>
			</div><!-- col-lg-4 -->
			
			
			<div class="col-lg-4 col-md-4 col-xs-12 desc">
				<a class="b-link-fade b-animate-go" href="#"><img width="350" src="/img/portfolio/port06.jpg" alt="" />
					<div class="b-wrapper">
					  	<h4 class="b-from-left b-animate b-delay03">Post 3</h4>
					  	<p class="b-from-right b-animate b-delay03">Read More.</p>
					</div>
				</a>
				<p>This Is Awesome</p>
				<p class="lead">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<hr-d>
			</div><!-- col-lg-4 -->


			<div class="col-lg-4 col-md-4 col-xs-12 desc">
				<a class="b-link-fade b-animate-go" href="#"><img width="350" src="/img/portfolio/addevent.jpg" alt="" />
					<div class="b-wrapper">
					  	<h4 class="b-from-left b-animate b-delay03">Post 3</h4>
					  	<p class="b-from-right b-animate b-delay03">Read More.</p>
					</div>
				</a>
				<p>Create an event!</p>
				<p class="lead">Have an idea for an awesome workshop, class, comedy show, concert, or more? Or do you simply need a small studio place every week to work on some paintings? Venü will help you find the best spaces for your needs. </p>
				<hr-d>
			</div><!-- col-lg-4 -->
			
		</div><!-- /row -->
	</div><!-- /container -->
	
	<! ========== DISCOVER SPACES ============================================================================================== 
	=============================================================================================================================>    

<div class="container">	

		<div class="row mt centered ">
			<div class="col-lg-4 col-lg-offset-4" id="discover-spaces">
				<h3>Popular Spaces</h3>
				<hr>
			</div>
		</div><!-- /row -->

		<div class="row mt">
			<div class="col-lg-4 col-md-4 col-xs-12 desc">
				<a class="b-link-fade b-animate-go" href="#"><img width="350" src="/img/portfolio/port04.jpg" alt="" />
					<div class="b-wrapper">
					  	<h4 class="b-from-left b-animate b-delay03">Post 1</h4>
					  	<p class="b-from-right b-animate b-delay03">Read More.</p>
					</div>
				</a>
				<p>The Sky Is The Limit</p>
				<p class="lead">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<hr-d>
			</div><!-- col-lg-4 -->
			
			<div class="col-lg-4 col-md-4 col-xs-12 desc">
				<a class="b-link-fade b-animate-go" href="#"><img width="350" src="/img/portfolio/port05.jpg" alt="" />
					<div class="b-wrapper">
					  	<h4 class="b-from-left b-animate b-delay03">Post 2</h4>
					  	<p class="b-from-right b-animate b-delay03">Read More.</p>
					</div>
				</a>
				<p>Another Cool Stuff</p>
				<p class="lead">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<hr-d>
			</div><!-- col-lg-4 -->
			<div class="col-lg-4 col-md-4 col-xs-12 desc">
				<a class="b-link-fade b-animate-go" href="#"><img width="350" src="/img/portfolio/port05.jpg" alt="" />
					<div class="b-wrapper">
					  	<h4 class="b-from-left b-animate b-delay03">Post 2</h4>
					  	<p class="b-from-right b-animate b-delay03">Read More.</p>
					</div>
				</a>
				<p>Another Cool Stuff</p>
				<p class="lead">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<hr-d>
			</div><!-- col-lg-4 -->
			
			<div class="col-lg-4 col-md-4 col-xs-12 desc">
				<a class="b-link-fade b-animate-go" href="#"><img width="350" src="/img/portfolio/port05.jpg" alt="" />
					<div class="b-wrapper">
					  	<h4 class="b-from-left b-animate b-delay03">Post 2</h4>
					  	<p class="b-from-right b-animate b-delay03">Read More.</p>
					</div>
				</a>
				<p>Another Cool Stuff</p>
				<p class="lead">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<hr-d>
			</div><!-- col-lg-4 -->
			
			
			<div class="col-lg-4 col-md-4 col-xs-12 desc">
				<a class="b-link-fade b-animate-go" href="#"><img width="350" src="/img/portfolio/port06.jpg" alt="" />
					<div class="b-wrapper">
					  	<h4 class="b-from-left b-animate b-delay03">Post 3</h4>
					  	<p class="b-from-right b-animate b-delay03">Read More.</p>
					</div>
				</a>
				<p>This Is Awesome</p>
				<p class="lead">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<hr-d>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4 col-md-4 col-xs-12 desc">
				<a class="b-link-fade b-animate-go" href="#"><img width="350" src="/img/portfolio/addspace.jpg" alt="" />
					<div class="b-wrapper">
					  	<h4 class="b-from-left b-animate b-delay03">Add a Space</h4>
					  	<p class="b-from-right b-animate b-delay03">Read More.</p>
					</div>
				</a>
				<p>Own a space?</p>
				<p class="lead">Join Venü today to start listing your unused spaces, whether it be a storefront at night, an unbooked restaurant stage, an empty garage, or an old warehouse building. You can <%= link_to "sign up", new_user_registration_path %> here or add a new listing <%= link_to "here", new_space_path %>.</p>
				<hr-d>
			</div><!-- col-lg-4 -->
			
		</div><!-- /row -->
	</div><!-- /container -->

		<! ========== OTHER============================================================================================== 
	=============================================================================================================================>  

    <div id="cta01">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-8 col-lg-offset-2">
    				<h2>The probability of success is difficult to estimate;<br/>but if we never search, the chance of success is zero.</h2>
    				<button type="button" class="btn btn-cta btn-lg">LEARN MORE</button>
    			</div>
    		</div><!-- /row -->
    	</div><!-- /container -->
    </div><! --/cta01 -->

	<! ========== PORTFOLIO SECTION ============================================================================================= 
	=============================================================================================================================>    
	<div class="container">
		<div class="row mt centered ">
			<div class="col-lg-4 col-lg-offset-4">
				<h3>Our Latest Work</h3>
				<hr>
			</div>
		</div><!-- /row -->
		<div class="row mt centered">	
			<div class="col-lg-4 desc">
				<a class="b-link-fade b-animate-go" href="#"><img width="350" src="/img/portfolio/port01.jpg" alt="" />
					<div class="b-wrapper">
					  	<h4 class="b-from-left b-animate b-delay03">Project 1</h4>
					  	<p class="b-from-right b-animate b-delay03">View Details</p>
					</div>
				</a>
				<p>APE - <i class="fa fa-heart-o"></i></p>
			</div>
			<div class="col-lg-4 desc">
				<a class="b-link-fade b-animate-go" href="#"><img width="350" src="/img/portfolio/port02.jpg" alt="" />
					<div class="b-wrapper">
					  	<h4 class="b-from-left b-animate b-delay03">Project 2</h4>
					  	<p class="b-from-right b-animate b-delay03">View Details</p>
					</div>
				</a>
				<p>RAIDERS - <i class="fa fa-heart-o"></i></p>
			</div>
			<div class="col-lg-4 desc">
				<a class="b-link-fade b-animate-go" href="#"><img width="350" src="/img/portfolio/port03.jpg" alt="" />
					<div class="b-wrapper">
					  	<h4 class="b-from-left b-animate b-delay03">Project 3</h4>
					  	<p class="b-from-right b-animate b-delay03">View Details</p>
					</div>
				</a>
				<p>VIKINGS - <i class="fa fa-heart-o"></i></p>
			</div>
		</div><!-- /row -->
		<div class="row mt centered">	
			<div class="col-lg-4 desc">
				<a class="b-link-fade b-animate-go" href="#"><img width="350" src="/img/portfolio/port03.jpg" alt="" />
					<div class="b-wrapper">
					  	<h4 class="b-from-left b-animate b-delay03">Project 4</h4>
					  	<p class="b-from-right b-animate b-delay03">View Details</p>
					</div>
				</a>
				<p>APE - <i class="fa fa-heart-o"></i></p>
			</div>
			<div class="col-lg-4 desc">
				<a class="b-link-fade b-animate-go" href="#"><img width="350" src="/img/portfolio/port01.jpg" alt="" />
					<div class="b-wrapper">
					  	<h4 class="b-from-left b-animate b-delay03">Project 5</h4>
					  	<p class="b-from-right b-animate b-delay03">View Details</p>
					</div>
				</a>
				<p>RAIDERS - <i class="fa fa-heart-o"></i></p>
			</div>
			<div class="col-lg-4 desc">
				<a class="b-link-fade b-animate-go" href="#"><img width="350" src="/img/portfolio/port02.jpg" alt="" />
					<div class="b-wrapper">
					  	<h4 class="b-from-left b-animate b-delay03">Project 6</h4>
					  	<p class="b-from-right b-animate b-delay03">View Details</p>
					</div>
				</a>
				<p>VIKINGS - <i class="fa fa-heart-o"></i></p>
			</div>
		</div><!-- /row -->

		<div class="row mt centered">
			<div class="col-lg-4 col-lg-offset-4">
    			<button type="button" class="btn btn-theme btn-lg">VIEW OUR PORTFOLIO</button>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->

	<! ========== BRANDS & CLIENTS =============================================================================================== 
	=============================================================================================================================>    
	<div id="grey">
		<div class="container">
			<div class="row mt centered ">
				<div class="col-lg-4 col-lg-offset-4">
					<h3>Brands & Clients</h3>
					<hr>
				</div><!-- /col-lg-4 -->
			</div><!-- /row -->
			
			<div class="row centered">
				<div class="col-lg-3 pt">
					<img class="img-responsive" src="/img/clients/client01.png" alt="">
				</div>
				<div class="col-lg-3 pt">
					<img class="img-responsive" src="/img/clients/client02.png" alt="">
				</div>
				<div class="col-lg-3 pt">
					<img class="img-responsive" src="/img/clients/client03.png" alt="">
				</div>
				<div class="col-lg-3 pt">
					<img class="img-responsive" src="/img/clients/client04.png" alt="">
				</div>

			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /grey -->

	
	<! ========== BLACK SECTION ================================================================================================= 
	=============================================================================================================================>    
	<div id="black">
		<div class="container">
			<div class="row mt centered">
				<div class="col-lg-4 col-lg-offset-4">
					<h3>Our Work Process</h3>
					<hr>
				</div><!-- /col-lg-4 -->
			</div><!-- /row -->
			
			<div class="row mt">
				<div class="col-lg-8 col-lg-offset-2">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div><! --/col-lg-8 -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /black -->




	<! ========== CALL TO ACTION 2 ============================================================================================== 
	=============================================================================================================================>    
    <div id="cta02">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-8 col-lg-offset-2">
    				<h2>Our products & services are crafted with the utmost care to fulfill your needs.</h2>
    				<button type="button" class="btn btn-cta btn-lg">LEARN MORE</button>
    			</div>
    		</div><!-- /row -->
    	</div><!-- /container -->
    </div><! --/cta02 -->

    
	<! ========== OUR TEAM ====================================================================================================== 
	=============================================================================================================================>    
	
	<div id="white">
		<div class="container">
	    	<div class="row mt">
	    		<div class="col-lg-4 col-lg-offset-4 centered">
	    			<h3>Our Team</h3>
	    			<hr>
	    		</div>
	    	</div><! --/row -->
			
			<div class="row">
				<div class="col-lg-4 centered">
					<div class="members">
					  <img src="/img/team/gianni.png" alt="">
					  <div class="team-info">
					    <div class="subhead">Developer</div>
					    <h2 class="team-name">Gianni</h2>
					    <p class="team-description"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-dribbble"></i></p>
					  </div>
					</div>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4 centered">
					<div class="members">
					  <img src="/img/team/rebecca.png" alt="">
					  <div class="team-info">
					    <div class="subhead">Designer</div>
					    <h2 class="team-name">Rebecca</h2>
					    <p class="team-description"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-dribbble"></i></p>
					  </div>
					</div>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4 centered">
					<div class="members">
					  <img src="/img/team/william.png" alt="">
					  <div class="team-info">
					    <div class="subhead">Designer</div>
					    <h2 class="team-name">William</h2>
					    <p class="team-description"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-dribbble"></i></p>
					  </div>
					</div>
				</div><!-- /col-lg-4 -->

			</div><! --/row -->	
		</div><! --/container -->
	</div><! --/white -->
	
	<! ========== BLACK SECTION ================================================================================================= 
	=============================================================================================================================>    
	<div id="black">
		<div class="container pt">
			<div class="row mt centered">
				<div class="col-lg-3">
					<p><i class="fa fa-instagram"></i></p>
					<h1>21.337</h1>
					<hr>
					<h4>Pictures Taken</h4>
				</div>

				<div class="col-lg-3">
					<p><i class="fa fa-music"></i></p>
					<h1>9.764</h1>
					<hr>
					<h4>Songs Listened</h4>
				</div>

				<div class="col-lg-3">
					<p><i class="fa fa-trophy"></i></p>
					<h1>107</h1>
					<hr>
					<h4>Awards Earned</h4>
				</div>

				<div class="col-lg-3">
					<p><i class="fa fa-ticket"></i></p>
					<h1>209</h1>
					<hr>
					<h4>Movies Watched</h4>
				</div>

			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /black -->

	<! ========== TESTIMONIAL CAROUSEL ========================================================================================== 
	=============================================================================================================================>    

	<div class="container">
    	<div class="row mt">
    		<div class="col-lg-4 col-lg-offset-4 centered">
    			<h3>Honest Testimonials</h3>
    			<hr>
    		</div>
    	</div><! --/row -->
	
		<div class="row mt">
			<div class="col-lg-8 col-lg-offset-2 centered">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">				
					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
						  <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</h2>
						  <h5>Paul Morrison - BlackTie.co</h5>
						</div>
						
						<div class="item">
						  <h2>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h2>
						  <h5>Mike Wellington - BlackTie.co</h5>
						</div>
					</div><!-- /carousel-inner -->
				
				</div><! --/carousel-example -->		
			</div><!-- /col-lg-8 -->
		</div><! --/row -->
	</div><!-- /container -->


	<! ========== CONTACT SECTION =============================================================================================== 
	=============================================================================================================================>    

	<div id="white">
		<div class="container">
	    	<div class="row mt">
	    		<div class="col-lg-4 col-lg-offset-4 centered">
	    			<h3>Contact Us</h3>
	    			<hr>
	    		</div>
	    	</div><! --/row -->
		</div><!-- /container -->
	<div id="map"></div>	
	</div><!-- /white -->



	
	<! ========== CALL TO ACTION BAR =============================================================================================== 
	=============================================================================================================================>    
	<div id="cta-bar">
		<div class="container">
			<div class="row centered">
				<a href="#"><h4>Are You Ready For The Next Step?</h4></a>
			</div>
		</div><!-- /container -->
	</div><!-- /cta-bar -->
	
	