<div class="container">
	<h1>All Events</h1>
	<%= link_to "New Event", new_event_path %></br>
	<% @events.each do |event| %>
		<%= event.name %> | 
		<%= link_to "Show Event", event_path(event) %></br>
	<% end %>
</div>