<div id="white">
	<div class="container">
	    <div class="col-lg-4 col-lg-offset-4 centered">
	<h1>All Events</h1>
	<%= link_to "New Event", new_event_path %></br>
	<% @events.each do |event| %>
		<% if event.public || event.user == current_user %> 
			<%= event.name %> | 
			<%= link_to "Show Event", event_path(event) %></br>
		<% end %>
	<% end %>
</div>
</div>
</div>