<div id="white">
	<div class="container">
	  <div class="col-lg-4 col-lg-offset-4 centered">
			<h1>Create a New Event</h1></br>
			<% if @space %>
				<p>Space: <%= @space.name %></p>
			<% end %>
		</div>
	  <div class="col-lg-4 col-lg-offset-4">
			<%= render 'form' %>
			<%= link_to "Back", events_path %>
			<br><br><br>
		</div>
	</div>
</div>