<div id="white">
	<div class="container">
	   <div class="col-lg-4 col-lg-offset-4 centered">

			<h1>Requests</h1>

			<h3>Requests for my spaces:</h3>

			<div class="row">
				<div class="col-md-2">Sent from:</div>
				<div class="col-md-10">Request:</div>
			</div>
			<% @received_requests.each do |request| %>
				<div class="row">
					<div class="col-md-2"><%= request.event.user.email %></div>
					<div class="col-md-8"><%= request.body %></div>

				</div>
			<% end %>

			<h3>My requests for spaces:</h3>

			<div class="row">
				<div class="col-md-2">Sent to:</div>
				<div class="col-md-10">Request:</div>
			</div>
			<% @sent_requests.each do |request| %>
				<div class="row">
					<div class="col-md-2"><%= request.space.user.email %></div>
					<div class="col-md-10"><%= request.body %></div>
				</div>
			<% end %>
		</div>
	</div>
</div>