 <div id="white">
	<div class="container">
    <div class="col-lg-4 col-lg-offset-4 centered">
			<h1>Create a New Request</h1>
			<p>Space: <%= @space.name %></p>
			<%= render 'form' %>
			<%= link_to "Back", space_path(@space) %>
		</div>
	</div>
</div>