/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/glyphicons
 *= require hover_pack
 *= require theme-main
 *= require colors/color-74c9be
 *= require animations
 *= require font-awesome
 *= require bootstrap-datetimepicker
 *= require_tree .
 *= require_self
 */


	@import url(https://fonts.googleapis.com/css?family=Ruda:400,900,700);


#headerwrap {
	padding-bottom: 180px;
}

.request-col {
	text-align: left;
}

p.inline {
    display: inline;
    padding: 0 10px 0 10px;
}


h2 {
	color: white;
	font-size: 35px;
}

h6 {
	color: white;
	font-size: 20px;
}

.mt {
  margin-top: 0px;
  margin-bottom: 20px;
}

.navbar {
	font-weight: 800;
	font-size: 14px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.navbar-inverse {
	background: rgba(0,0,0,0.8);
	border-color: #c23d35;
}

.navbar-inverse .navbar-nav > .active > a {
	background: #c23d35;
}

.navbar-inverse .navbar-brand {
	color: gray;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}

.navbar-inverse .navbar-brand i {
	color: #c23d35;
	font-size: 22px;
	letter-spacing: 1px;
}

#white {
  margin-top: 60px;
  padding-bottom: 50px;
}

.modal-content {
	width: 800px;
	text-align: center;
}

.modal-body {
	text-align: center;
}

.modal-dialog {
	text-align: center;
	  margin: 10px auto;
}


.modal {

  right: 200px;
}

#map {
  width: auto;
  height: 500px;
}

table {
	border: 1px solid lightgray;
	border-radius: 15px 50px;
}

td {
	max-width:100px;
	word-wrap:break-word;
}
