<! ========== FOOTER ========================================================================================================
	=============================================================================================================================>

<div id="f">
	<div class="container">
		<div class="row">
			<!-- ADDRESS -->
			<div class="col-md-4">
				<h4>Contact the Creators!</h4>
				<p>
					Christine Mi (christinexmi@gmail.com)
				</p>
				<p>
					Serena (serenaw@stanford.edu)
				</p>
				<!-- <p>
					<i class="fa fa-envelope-o"></i> hello@domain.com
				</p> -->
			</div><! --/col-lg-3 -->

			<!-- LATEST POSTS -->
			<!-- <div class="col-md-4">
				<h4>Site Map</h4>
				<p>
					<i class="fa fa-angle-right"></i> A post with an image<br/>
					<i class="fa fa-angle-right"></i> Other post with a video<br/>
					<i class="fa fa-angle-right"></i> A full width post<br/>
				</p>
			</div><!-- /col-lg-3 -->

			<!-- NEW PROJECT -->
			<!-- <div class="col-md-4">
				<h4>Meow</h4>
				hi
			</div> --><!-- /col-lg-3 -->
		</div><! --/row -->
	</div><!-- /container -->
</div><!-- /f -->
